{% extends "OmniOAuthJWTServerBundle::layout.html.twig" %}

{% block omni_oauth_jwt_server_content %}
    {% include "OmniOAuthJWTServerBundle:Login:login_content.twig" %}
{% endblock omni_oauth_jwt_server_content %}
