<form action="{{ path('login') }}" method="post">
    <label for="username">{{ 'login.email'|trans({}, 'OmniOAuthJWTServerBundle') }}</label>
    <input type="email" id="username" name="_username" value="{{ last_username }}" />

    <label for="password">{{ 'login.password'|trans({}, 'OmniOAuthJWTServerBundle') }}</label>
    <input type="password" id="password" name="_password" />

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    />
</form>