{% extends "OmniOAuthJWTServerBundle::layout.html.twig" %}

{% block omni_oauth_jwt_server_content %}
{% include "OmniOAuthJWTServerBundle:Authorize:authorize_content.html.twig" %}
{% endblock omni_oauth_jwt_server_content %}
