{{ form_start(form, {'method': 'POST', 'action': path('omni_oauth_jwt_server_authorize'), 'label_attr': {'class': 'omni_oauth_jwt_server_authorize'} }) }}
    <input type="submit" name="accepted" value="{{ 'authorize.accept'|trans({}, 'OmniOAuthJWTServerBundle') }}" />
    <input type="submit" name="rejected" value="{{ 'authorize.reject'|trans({}, 'OmniOAuthJWTServerBundle') }}" />

    {{ form_row(form.client_id) }}
    {{ form_row(form.response_type) }}
    {{ form_row(form.redirect_uri) }}
    {{ form_row(form.state) }}
    {{ form_row(form.scope) }}
    {{ form_rest(form) }}
</form>
